<div class="datos">
    <table clas="datosTable" >
    <tr>
        <td>Fecha <br>
        <input type="text" [value]="fecha()" (input)="fechaChangeHandler($event)"></td>
        <td>Alerta <br>
        <input type="text" [value]="alerta()" (input)="alertaChangeHandler($event)"></td>
        <td>Normativa <br>
        <input type="text" [value]="normativa()" (input)="normativaChangeHandler($event)"></td>

    </tr>
    <tr>
        <td>Usuario ejecutor <br>
        <input type="text" [value]="usrej()" (input)="usrejChangeHandler($event)"></td>
        <td>Nombre Usuario <br>
        <input type="text" [value]="nombreusr()" (input)="nombreusrChangeHandler($event)"></td>
        <td>Usuario  privilegiado<br>
        <input type="text" [value]="privilegedUser()" (input)="privilegedUserChangeHandler($event)"></td>
                    
    </tr>
           <td>
            <p>Interno / Externo</p>
            <label for="carSelect"></label>
            <select id="carSelect" (change)="car.set($any($event.target).value)">
                <option *ngFor="let c of cars" [value]="c">{{ c }}</option>
            </select>
        </td>
        <td><p>Cargo</p>
        <input type="text" [value]="cargo()" (input)="cargoChangeHandler($event)"></td>
	    <td><p>Empresa</p>
        <input type="text" [value]="empresa()" (input)="empresaChangeHandler($event)"></td>
        <td><p>Jefe</p>
        <input type="text" [value]="jefe()" (input)="jefeChangeHandler($event)"></td>
    <tr>
        <td>IP origen <br>
        <input type="text" [value]="iporg()" (input)="iporgChangeHandler($event)"></td>
        <td>IP destino <br>
        <input type="text" [value]="ipdest()" (input)="ipdestChangeHandler($event)"></td>
    </tr>
    </table>
</div>
<div>
<button (click)="deleteData()">
    {{ borrado ? 'Borrados!' : 'Borrar Datos' }}
</button>
</div>

<hr>
    <h1>Sugerencia de Titulo?</h1>
        <p>
            Case ####_[Tecnología]: Accesos de cuentas privilegiadas_usuario_IPDestino <br><br>
            {{alerta()}}_{{usrej()}}  <br><br>             
            {{alerta()}}_{{usrej()}}_{{ipdest()}}
        </p>
<hr>

<h1>Correo</h1>
<button (click)="copyContent(textToCopy)">
    {{ copiado ? 'Copiado!' : 'Copiar' }}
</button>


<div #textToCopy>
<p>{{tiempo}},
 <br><br>
 Le notificamos que se ha realizado un acceso con la cuenta privilegiada <b>{{privilegedUser()}}</b>. Para fines de validaci&oacute;n, <b>solicitamos</b> de su apoyo compartiendo la justificaci&oacute;n de la actividad mediante el folio <b>REG/CHG/INC</b> que respalde su ejecuci&oacute;n.
 <br><br>
 Adjuntamos detalle del evento:
</p>
<br>
<table class="mailtable" role="region" tabindex="0">
    <caption></caption>
   <Thead>
        <th colspan="4" >Detalle del evento</th>
   </Thead>
    <tbody>
        <tr>
            <th  colspan="1">Severidad</th>
            <td colspan="3"> <b>☐Critica  ☒Alta  ☐Media  ☐Baja</b></td>
        </tr>
        <tr>
            <th colspan="1">Tipo de amenaza:</th>
            <td colspan="3"><b>{{alerta()}}</b></td>
        </tr>
        <tr>
            <th colspan="1">Normativa:</th>
            <td colspan="3">{{normativa()}}</td>
        </tr>        <tr>
            <th colspan="1">Fecha:</th>
            <td colspan="3">{{fecha()}}</td>
        </tr>
        <tr>
            <th>Usuario ejecutor:</th>
            <td>{{usrej()}}</td>
            <th>Nombre de Usuario:</th>
            <td>{{nombreusr()}}</td>
        </tr>
        <tr>
            <th colspan="1">Usuario privilegiado:</th>
            <td colspan="3">{{privilegedUser()}}</td>      
        </tr>
        <tr>
            <th>IP origen interna:</th>
            <td>{{iporg()}}</td>
            <th>IP destino:</th>
            <td>{{ipdest()}}</td>
        </tr>

   </tbody>
</table>
<br><br>
<p>Se anexa mayor detalle a continuación:</p>
<br><br>
<p>Quedo pendientes a sus comentarios</p>

<p>Saludos</p>
</div>

<hr>
<div>
<div *ngIf=" car() == 'Externo'" >
    <h1>DOCUMENTACI&oacute;N</h1>
<br>
    <h3>(1)</h3>
<br> 
    **Descripci&oacute;n del evento:**<br>

    Se detecta evento por acceso a cuenta privilegiada al elemento **{{aplicacion()}}** con IP origen interna **{{iporg()}}**, realizado por el usuario {{usrej()}} {{nombreusr()}} con el usuario privilegiado {{privilegedUser()}}
    Se inicia la validaci&oacute;n del evento.<br>
    <br>
   <h3>(2)</h3> 
    <br>
    Se realiza la validaci&oacute;n del usuario<br>
    • **Webphone** Validaci&oacute;n de los datos del usuario<br>
    **Usuario externo **<br>
    **Nombre: {{nombreusr()}}**<br>
    **Cargo: {{cargo()}}**<br>
    **Empresa: {{empresa()}}**<br>
    **Jefe Directo: {{jefe()}}**<br>
    <h2>ATENCI&oacute;N!!!!!! ----------> En el caso especifico del usuario s14275 la alerta VDI_USUARIOS:ACPS, IP Origen: 201.130.47.32 / SE DEBERA CERRAR COMO FALSO POSITIVO.</h2>

    <h3>(3)</h3> 
    <br>
    **Notificaci&oacute;n:** Se realiza notificaci&oacute;n al usuario ejecutor identificado para validaci&oacute;n y justificaci&oacute;n del acceso detectado.
    <br><br>
    <h3>(4)</h3> 
    <br>
    **Seguimiento:** [Indicar cualquier informaci&oacute;n respecto a la atenci&oacute;n del evento en proceso]
    <br><br>
    <h3>(5)</h3> 
    <br>
    **Validaci&oacute;n de la respuesta** Se recibe respuesta por parte del {{nombreusr()}} indicando [detalle de la respuesta]
    En caso de ser justificada la actividad...
    <br>
    Si hay folio Validar con TII
    <br><br>
    <h3>(6)</h3> 
    <br>
    RESPUESTA VALIDA. **Justificaci&oacute;n:** El usuario confirma y justifica la actividad notificada, se adjunta el folio de respaldo de la actividad [Folio] y se determina como evento legitimo por lo que se procede al cierre del caso.
    <br>
    RESPUESTA NO VALIDA. **Justificaci&oacute;n:** No se cuenta con una justificaci&oacute;n valida con respecto al acceso a la cuenta privilegiada, por lo que se escala con el equipo de Tier II para su seguimiento.
    <br>
    Teniendo las validaciones pasar a tarea de cierre...
    <br>
    No validado, escalar TII
    <br>
    <h1>CIERRE</h1>
    <br><br>
    <h3>(7)</h3> 
    <br>
    **Conclusi&oacute;n** Se confirm&oacute; que el evento corresponde a una actividad legitima autorizada por parte del usuario.
    <br><br>
    <h3>(8) </h3>
    <br>
    **Se da Vo.Bo para el cierre del caso por parte de Supervisi&oacute;n [Nombre]
    </div>
<div *ngIf=" car() == 'Interno'" >
    <h1>DOCUMENTACI&oacute;N</h1>
<br>
    <h3>(1)</h3>
<br> 
    **Descripci&oacute;n del evento:**<br>

    Se detecta evento por acceso a cuenta privilegiada al elemento **{{aplicacion()}}** con IP origen interna **{{iporg()}}**, realizado por el usuario {{usrej()}} {{nombreusr()}} con el usuario privilegiado {{privilegedUser()}}
    Se inicia la validaci&oacute;n del evento.<br>
    <br>
    <h3>(2)</h3> 
    <br>
    Se realiza la validaci&oacute;n del usuario<br>
    • **Webphone** Validaci&oacute;n de los datos del usuario<br>
    **Usuario Interno **<br>
    **Nombre: {{nombreusr()}}**<br>
    **Cargo: {{cargo()}}**<br>
    **Empresa: {{empresa()}}**<br>
    **Jefe Directo: {{jefe()}}**<br>
    <h2>ATENCI&oacute;N!!!!!! ----------> En el caso especifico del usuario s14275 la alerta VDI_USUARIOS:ACPS, IP Origen: 201.130.47.32 / SE DEBERA CERRAR COMO FALSO POSITIVO.</h2>

    <h3>(3) </h3>
    <br>
    **Notificaci&oacute;n:** Se realiza notificaci&oacute;n al usuario ejecutor identificado para validaci&oacute;n y justificaci&oacute;n del acceso detectado.
    <br><br>
    <h3>(4)</h3> 
    <br>
    **Seguimiento:** [Indicar cualquier informaci&oacute;n respecto a la atenci&oacute;n del evento en proceso]
    <br><br>
    <h3>(5)</h3> 
    <br>
    **Validaci&oacute;n de la respuesta** Se recibe respuesta por parte del {{nombreusr()}} indicando [detalle de la respuesta]
    En caso de ser justificada la actividad...
    <br>
    Si hay folio Validar con TII
    <br><br>
    <h3>(6)</h3> 
    <br>
    RESPUESTA VALIDA. **Justificaci&oacute;n:** El usuario confirma y justifica la actividad notificada, se adjunta el folio de respaldo de la actividad [Folio] y se determina como evento legitimo por lo que se procede al cierre del caso.
    <br><br>
    RESPUESTA NO VALIDA. **Justificaci&oacute;n:** No se cuenta con una justificaci&oacute;n valida con respecto al acceso a la cuenta privilegiada, por lo que se escala con el equipo de Tier II para su seguimiento.
    <br><br>
    Teniendo las validaciones pasar a tarea de cierre...
    <br><br>
    No validado, escalar TII
    <br>
    <h1>CIERRE</h1>
    <br><br>
    <h3>(7)</h3> 
    <br>
    **Conclusi&oacute;n** Se confirm&oacute; que el evento corresponde a una actividad legitima autorizada por parte del usuario.
    <br><br>
    <h3>(8) </h3>
    <br>
    **Se da Vo.Bo para el cierre del caso por parte de Supervisi&oacute;n [Nombre]
    </div>
</div>
