<div class="seleccion">
<p>Selecciona una alerta para atender</p>
    <label for="EmpSelect"></label>
        <select id="EmpSelect" (change)="alerta.set($any($event.target).value)">
            <option *ngFor="let c of alertas" [value]="c">{{ c }}</option>                        
        </select>
<table>
    <tr>
        <td>
            <p>Saludo</p>
            <label for="EmpSelect"></label>
                <select id="EmpSelect" (change)="tiempo.set($any($event.target).value)">
                    <option *ngFor="let c of tiempos" [value]="c">{{ c }}</option>                        
                </select>
        </td>
        <td>
            <p>Atendido por:</p>
            <input type="text" [value]="atendido_Por()" (input)="atendidoPorChangeHandler($event)">
        </td>
    </tr>
</table>
</div>

<div [ngSwitch]="alerta()" >
<app-vpns *ngSwitchCase="'VPN'" [tiempo]="tiempo()" [atendido_Por]="atendido_Por()"></app-vpns>
<app-acps *ngSwitchCase="'ACPS'" [tiempo]="tiempo()" [atendido_Por]="atendido_Por()"></app-acps>
<app-abc *ngSwitchCase="'ABC'" [tiempo]="tiempo()" [atendido_Por]="atendido_Por()"></app-abc>
<app-bruteforce *ngSwitchCase="'Brute Force'" [tiempo]="tiempo()" [atendido_Por]="atendido_Por()"></app-bruteforce>    

</div>

