<div class="datos">
    <table clas="datosTable" >
    <tr>
        <td>Fecha <br>
        <input type="text" [value]="fecha()" (input)="fechaChangeHandler($event)"></td>
        <td>Alerta <br>
        <input type="text" [value]="alerta()" (input)="alertaChangeHandler($event)"></td>

    </tr>
    <tr>
        <td>Usuario <br>
        <input type="text" [value]="usrej()" (input)="usrejChangeHandler($event)"></td>
        <td>Nombre Usuario <br>
        <input type="text" [value]="nombreusr()" (input)="nombreusrChangeHandler($event)"></td>
    </tr>
    <tr>
        <td>
        <p>Interno / Externo</p>
        <label for="carSelect"></label>
        <select id="carSelect" (change)="car.set($any($event.target).value)">
            <option *ngFor="let c of cars" [value]="c">{{ c }}</option>
        </select>
        </td>

        
    </tr>
    <tr>
        <td>IP origen  interna<br>
        <input type="text" [value]="iporg()" (input)="iporgChangeHandler($event)"></td>
        <td>IP destino interna <br>
        <input type="text" [value]="ipdest()" (input)="ipdestChangeHandler($event)"></td>
    </tr>
        <tr>
        <td>IP origen  publica<br>
        <input type="text" [value]="iporgp()" (input)="iporgpChangeHandler($event)"></td>
        <td>IP destino publica <br>
        <input type="text" [value]="ipdestp()" (input)="ipdestpChangeHandler($event)"></td>
    </tr>
    </table>
</div>
<div>
<button (click)="deleteData()">
    {{ borrado ? 'Borrados!' : 'Borrar Datos' }}
</button>
</div>

<hr>
    <h1>Sugerencia de Titulo?</h1>
        <p>
            Case ####_ Brute Force (T1110.50 / T1110.100)_User_IP Origen <br><br>
            {{alerta()}}_{{usrej()}}    <br><br>           
            {{alerta()}}_{{usrej()}}_{{iporg()}}
        </p>
<hr>

<h1>Correo</h1>
<button (click)="copyContent(textToCopy)">
    {{ copiado ? 'Copiado!' : 'Copiar' }}
</button>


<div #textToCopy>
<p>{{tiempo}},
 <br><br>
 Se identificaron m&uacute;ltiples intentos de acceso fallido realizados con su usuario <b>{{usrej()}}</b>, por lo cual necesitamos que nos confirme que estos intentos fueron realizados por usted.
<br><br>
Nota: Si no reconoce la conexi&oacute;n es probable que su usuario este siendo utilizado en alg&uacute;n proceso que se est&aacute; ejecutando autom&aacute;ticamente, solicitamos de su apoyo para realizar la revisión en la(s) IP que se detallan en la siguiente tabla.


</p>
<br>
<table class="mailtable" role="region" tabindex="0">
    <caption></caption>
   <THead>
        <th colspan="4">Detalle del evento</th>
   </THead>
    <tbody>
        <tr>
            <th colspan="1">Severidad</th>
            <td colspan="3"> <b>☐Critica  ☒Alta  ☐Media  ☐Baja</b></td>
        </tr>
        <tr>
            <th colspan="1">Tipo de amenaza:</th>
            <td colspan="3"><b>{{alerta()}}</b></td>
        </tr>
        <tr>
            <th colspan="1">Fecha:</th>
            <td colspan="3">{{fecha()}}</td>
        </tr>
        <tr>
            <th>Usuario:</th>
            <td>{{usrej()}}</td>
            <th>Nombre de Usuario:</th>
            <td>{{nombreusr()}}</td>
        </tr>
        <tr>
            <th>IP origen interna:</th>
            <td>{{iporg()}}</td>
            <th>IP destino interna:</th>
            <td>{{ipdest()}}</td>
        </tr>
                <tr>
            <th>IP origen publica:</th>
            <td>{{iporgp()}}</td>
            <th>IP destino publica:</th>
            <td>{{ipdestp()}}</td>
        </tr>

   </tbody>
</table>
<br><br>
<p><b>Se adjunta concentrado del total de IP´s vistas en el alertamiento.</b></p>
<p>Quedo pendientes a sus comentarios</p>

<p>Saludos</p>
</div>
<hr>

<div>
    <div *ngIf=" car() == 'Interno'">
        <h1>DOCUMENTACI&oacute;N </h1>

        2do. Escenario. M&aacute;s de 30 intentos en un minuto y/o 50 intentos en una hora desde una IP interna
<br><br>
        <h3>(1) </h3>
        <br>**Descripci&oacute;n del evento:**
        <br>
        Se recibe alerta por m&uacute;ltiples intentos fallidos de autenticaci&oacute;n [+30 intentos en un minuto o 50 en 1 hora] detectados sobre el elemento {{ipdest()}} desde la IP interna origen {{iporg()}} Se inicia la validaci&oacute;n del evento.
        <br>
        <h3>(2) </h3>
        <br>
        **Validaci&oacute;n de usuario:** Se realiza la validaci&oacute;n del usuario determinando que se trata de una cuenta:
        <br>
        **Usuario Interno:** 
        <br>
        **Cuenta de servicio:** {{usrej()}}
<br>
        <h3>(3) </h3>
        <br>
        **Notificaci&oacute;n:** Se notifica al usuario ejecutor acerca del evento para validaci&oacute;n de la actividad.
<br>
        <h3>(4) </h3>
        <br>
        **Respuesta del usuario:** [detalle de la respuesta]
<br>
        <h3>(5) </h3>
        <br>
        **Validaci&oacute;n de respuesta:**
<br>
        RESPUESTA VALIDA **Validaci&oacute;n de respuesta:** Se valida directamente con el usuario la actividad reportada, quien confirma que corresponde a acciones leg&iacute;timas derivadas de: [FOLIO DE LA actividad/detalle]. No se evidencian anomal&iacute;as adicionales. En virtud de lo anterior, se determina cierre sin afectaci&oacute;n de seguridad.
<br>
        RESPUESTA NO VALIDA **Validaci&oacute;n de respuesta:** Actividad no justificada y sin folio de respaldo. Se mantiene caso en seguimiento y se escala al equipo de Tier II para definici&oacute;n de acciones.
    </div>
<div *ngIf=" car() == 'Externo'">
        <h1>DOCUMENTACI&oacute;N </h1>

        2do. Escenario. M&aacute;s de 30 intentos en un minuto y/o 50 intentos en una hora desde una IP interna
<br><br>
       <h3> (1) </h3>
        <br>**Descripci&oacute;n del evento:**
        <br>
        Se recibe alerta por m&uacute;ltiples intentos fallidos de autenticaci&oacute;n [+30 intentos en un minuto o 50 en 1 hora] detectados sobre el elemento {{ipdest()}} desde la IP interna origen {{iporg()}} Se inicia la validaci&oacute;n del evento.
        <br>
        <h3>(2) </h3>
        <br>
        **Validaci&oacute;n de usuario:** Se realiza la validaci&oacute;n del usuario determinando que se trata de una cuenta:
        <br>
        **Usuario Externo:** 
        <br>
        **Cuenta de servicio:** {{usrej()}}
<br>
        <h3>(3) </h3>
        <br>
        **Notificaci&oacute;n:** Se notifica al usuario ejecutor acerca del evento para validaci&oacute;n de la actividad.
<br>
        <h3>(4) </h3>
        <br>
        **Respuesta del usuario:** [detalle de la respuesta]
<br>
        <h3>(5)</h3> 
        <br>
        **Validaci&oacute;n de respuesta:**
<br>
        RESPUESTA VALIDA **Validaci&oacute;n de respuesta:** Se valida directamente con el usuario la actividad reportada, quien confirma que corresponde a acciones leg&iacute;timas derivadas de: [FOLIO DE LA actividad/detalle]. No se evidencian anomal&iacute;as adicionales. En virtud de lo anterior, se determina cierre sin afectaci&oacute;n de seguridad.
<br>
        RESPUESTA NO VALIDA **Validaci&oacute;n de respuesta:** Actividad no justificada y sin folio de respaldo. Se mantiene caso en seguimiento y se escala al equipo de Tier II para definici&oacute;n de acciones.
    </div>

</div>

