<div class="datos">
    <table>
        <tr>
                <td>Alerta<br>
                <input type="text" [value]="alerta()" (input)="alertaChangeHandler($event)"> </td>
                <td>Host<br>
                <input type="text" [value]="host()" (input)="hostChangeHandler($event)"> </td>
        </tr>
    </table>
</div>
<div>
<button (click)="deleteData()">
    {{ borrado ? 'Borrados!' : 'Borrar Datos' }}
</button>
</div>
<hr>
    <h1>Sugerencia de Titulo?</h1>
    <p>Case ####_Interrupción de eventos [TECNOLOGIA]</p>
        <p>
            Interrupcion de eventos: {{tecnologia()}}_{{host()}} <br>
        </p>
<hr>

<h1>Correo</h1>
<button (click)="copyContent(textToCopy)">
    {{ copiado ? 'Copiado!' : 'Copiar' }}
</button>
<div #textToCopy>
<p>{{tiempo}} &#64;SIEM Infrastructure Security,
    <br><br>
    Hemos recibido una alerta de Interrupción de eventos en la tecnolog&iacute;a
    <b>{{tecnologia()}}</b>, por lo que solicitamos de su apoyo para indicarnos si existió pérdida de logs durante el periodo del evento, 
        así como la condición actual del Host <b>{{host()}}</b>.
<br><br>
En caso de que se determine que la alerta no corresponde a una falla relacionada a la plataforma de Splunk, solicitamos nos indique la causa relacionada de acuerdo con su análisis realizado.
</p>
</div>
<p>[Adjuntar evidencia del detalle de la alerta que abarque la pantalla completa que muestre la fecha y hora del sistema]. Ejemplo:</p>
<hr>
<h1>Documentaci&oacute;n</h1>
<div>
        <h3>(1)</h3> 
     <p>
        <br><br>
            **Descripci&oacute;n del evento:** 
        <br>
            Se recibe alerta por interrupci&oacute;n en la recepci&oacute;n de eventos provenientes del host {{host()}}, correspondiente a la tecnolog&iacute;a {{tecnologia()}}.
        <br>
            Se inicia validaci&oacute;n para confirmar estado de conectividad, funcionamiento del agente/servicio
    </p>
            <h3>(2)</h3> 
        <br><br>
    <p>
            **Notificaci&oacute;n:** 
        <br>
            Se notifica al equipo del SIEM con respecto a la interrupci&oacute;n de eventos en la tecnolog&iacute;a {{tecnologia()}}.
            en espera de confirmaci&oacute;n.
        <br>
    </p>
            <h3>(3)</h3> 
        <br><br>
    <p>
            **Seguimiento:** Se env&iacute;a correo de seguimiento solicitando respuesta del evento notificado previamente.(en caso de aplicar)
        <br>
    </p>
            <h3>(5)</h3> 
    <p>
        <br>
            (RESPUESTA V&aacute;LIDA UNICAMENTE SI SE RECIBE EVIDENCIA DE LA RECUPERACI&oacute;N DE LA INGESTA DE LOGS O DE ELEMENTO DE BAJA TRANSACCIONALIDAD)
        <br>
            **Validaci&oacute;n de la respuesta** 
        <br>    
            VERDADERO: OP 1_ (RECUPERACI&oacute;N) 
        <br><br>    
            **Validaci&oacute;n de la respuesta:** Se recibe evidencia por parte del SIEM confirmando la recuperaci&oacute;n del flujo de eventos desde {{host()}} {{tecnologia}} . se procede al cierre del caso.
        <br><br> 
            OP 2_ 
        <br><br>
            **Validaci&oacute;n de la respuesta:** Se valida evidencia proporcionada por el &aacute;rea del SIEM, confirmando que el elemento corresponde a un activo de baja transaccionalidad. Se procede al cierre del caso.
        <br><br>
            FALSO: 
        <br><br>
            **Validaci&oacute;n de la respuesta:** No se recibe evidencia que confirme la recuperaci&oacute;n del flujo de eventos.
            Se procede a escalar el caso al equipo Tier II para an&aacute;lisis t&eacute;cnico y seguimiento.
    
        <br><br>
    </p>
            <h1>CIERRE</h1>
    <p>
        <br>
            (1) **Conclusi&oacute;n:** Ingesta normalizada y validada sin afectaci&oacute;n activa.
        <br><br>
            (2) **Autorizaci&oacute;n para cierre:** Se da Vo.Bo para el cierre del caso por parte de Supervisi&oacute;n [NOMBRE]
    </p>
</div>


