<h1>Documentacion de alerta VPN  </h1>
<table class="data">
    <thead>
    <tr>
        <td>Informacion de la alerta</td>
    </tr>
    </thead>
    <tbody>
<!-- Primera liena-->
        <tr>
            <td>
                <p>Enterpise / Mobile</p>
                    <label for="EmpSelect"></label>
                        <select id="EmpSelect" (change)="negocio.set($any($event.target).value)">
                            <option *ngFor="let c of negocios" [value]="c">{{ c }}</option>
                        </select>
            </td>
            <td>
                <p>Alerta</p>
                <input type="text" [value]="alertype()" (input)="alertypeChangeHandler($event)">
            </td>
            <td>
                <p>Normativa</p>
                <input type="text" [value]="Normativa()" (input)="normaChangeHandler($event)">
            </td>
            <td>
                <p>Fecha</p>
                <input type="text" [value]="fecha()" (input)="fechaChangeHandler($event)">
            </td>
        </tr>
        <tr>
            <td>
                <p>Src IP</p>
                <input type="text" [value]="SrcIp()" (input)="srcipChangeHandler($event)">
            </td>
            <td>
                <p>DestIP</p>
                <input type="text" [value]="destIP()" (input)="destipChangeHandler($event)">
            </td>
            <td>
                <p>Pais</p>
                <input type="text" [value]="pais()" (input)="paisChangeHandler($event)">
            </td>

        </tr>

    <!-- terceraa liena-->
    <tr>
       <td>
            <p>Interno / Externo</p>
            <label for="carSelect"></label>
            <select id="carSelect" (change)="car.set($any($event.target).value)">
                <option *ngFor="let c of cars" [value]="c">{{ c }}</option>
            </select>
        </td>
        <td>
            <p>User</p>
            <input type="text" [value]="user()" (input)="userChangeHandler($event)">
        </td>
        <td>
            <p>name</p>
            <input type="text" [value]="name()" (input)="nameChangeHandler($event)">
        </td>

    </tr>
    </tbody>
</table>



    <!-- table interno-->
<div *ngIf=" car() == 'Interno'" >
    <table class="data">
        <tbody>
        <tr>
            <td>
                <p>Cargo</p>
                <input type="text" [value]="cargo()" (input)="cargoChangeHandler($event)">
            </td>
            <td>
                <p>Jefe</p>
                <input type="text" [value]="jefe()" (input)="jefeChangeHandler($event)">
            </td>
            <td>
                <p>Cargo Jefe</p>
                <input type="text" [value]="cargojefe()" (input)="cargojefeChangeHandler($event)">
            </td>
        </tr>
        <!-- Cuarta liena-->
        <tr>
            <td>
                <p>Bp Jr Name</p>
                <input type="text" [value]="bpjrname()" (input)="bpnameChangeHandler($event)">
            </td>
            <td>
                <p>Correo Bp Jr</p>
                <input type="text" [value]="bjrcargo()" (input)="bpcargoChangeHandler($event)">
            </td>
        </tr>
        <tr>
            <td>
                <p>Archivo de vacaiones</p>
                <input type="text" [value]="VacacionesDoc()" (input)="vacaionesDocChangeHandler($event)">
            </td>
            <td>
                <p>Esta de vacaciones?</p>
                <label for="vacSelect"></label>
                    <select id="vacSelect" (change)="vac.set($any($event.target).value)">
                        <option *ngFor="let v of vacs" [value]="v">{{ v }}</option>
                    </select>

            </td>

        </tr>
    </tbody>
</table>
</div>
    <!-- table externo-->
<div *ngIf=" car() == 'Externo'" >
    <table class="data">
        <tbody>
        <tr>
            <td>
                <p>Compañia</p>
                <input type="text" [value]="cargo()" (input)="cargoChangeHandler($event)">
            </td>
        </tr>
        <tr>
            <td>
                <p>Jefe</p>
                <input type="text" [value]="jefe()" (input)="jefeChangeHandler($event)">
            </td>
            <td>
                <p>Cargo Jefe</p>
                <input type="text" [value]="cargojefe()" (input)="cargojefeChangeHandler($event)">
            </td>
        </tr>
        <!-- Cuarta liena-->
    </tbody>
</table>

</div>
<div>
<button (click)="deleteData()">
    {{ borrado ? 'Borrados!' : 'Borrar Datos' }}
</button>
</div>
<hr>
    <h1>Sugerencia de Titulo?</h1>
        <p>
            {{user()}}_{{SrcIp()}} <br> <br>

            {{alertype()}}_{{user()}}_{{SrcIp()}}
        </p>
<hr>
<!--Generación de correo -->
<div *ngIf="pais() != 'México'" >
    <h1>Correo</h1>
        <button (click)="copyContent(textToCopy)">
    {{ copiado ? 'Copiado!' : 'Copiar' }}
        </button>
<!--Correo Interno -->
    <div #textToCopy>
        <div *ngIf=" car() == 'Interno'" >
    <p>
        {{tiempo}}, <br> <br>
        Hemos detectado una conexi&oacute;n de VPN realizada fuera de M&eacute;xico con el usuario (<b>{{user()}}</b>) (<b>{{name()}} – {{cargo()}}</b>). <br>
        Solicitamos de su apoyo para confirmar la conexi&oacute;n, si no la reconoce es importante que nos indique para tomar medidas preventivas. <br><br>
        En caso de ser temporal, indicar el periodo que permanecer&aacute; en dicho pa&iacute;s <br><br>
        Adjuntamos detalle del evento: <br>
    </p>
    <table class="mailtable" role="region" tabindex="0">
    <caption></caption>
   <THead>
        <th colspan="4" class="tdclass">Detalle del evento</th>
   </THead>
    <tbody>
        <tr>
            <th colspan="1" class="tdclass">Severidad</th>
            <td colspan="3" class="tdclass"><b> ☐Critica  ☒Alta  ☐Media  ☐Baja</b></td>
        </tr>
        <tr>
            <th colspan="1" class="tdclass">Tipo de amenaza:</th>
            <td colspan="3" class="tdclass"><b>{{alertype()}}</b></td>
        </tr>
        <tr>
            <th colspan="1" class="tdclass">Normativa:</th>
            <td colspan="3" class="tdclass">{{Normativa()}}</td>
        </tr>
        <tr>
            <th colspan="1" class="tdclass">Fecha:</th>
            <td colspan="3" class="tdclass">{{fecha()}}</td>
        </tr>
        <tr>
            <th colspan="1" class="tdclass">Pa&iacute;s:</th>
            <td colspan="3" class="tdclass">{{pais()}}</td>
        </tr>
        <tr>
            <th class="tdclass">Usuario ejecutor:</th>
            <td class="tdclass">{{user()}}</td>
            <th class="tdclass">Nombre de Usuario:</th>
            <td class="tdclass">{{name()}}</td>
        </tr>
        <tr>
            <th class="tdclass">IP Origen:</th>
            <td class="tdclass">{{SrcIp()}}</td>
            <th class="tdclass">IP asignada:</th>
            <td class="tdclass">{{destIP()}}</td>
        </tr>

   </tbody>
</table>
<p >
    <b>
        Nota: Debido a la importancia y criticidad del evento <span class="red"> necesitamos que su respuesta sea máxima en una hora (01:00 hrs.),</span> ya que de lo contrario se realizará el <span class="red">bloqueo de la cuenta de VPN</span> como medida preventiva evitando con esto un mal uso de credenciales y exposición de datos confidenciales.
    </b>
</p>
<p>
    Quedamos atentos a cualquier duda o comentario
</p>
        </div>
<!--Correo Externo -->
        <div *ngIf=" car() == 'Externo'" >
        <p>
        {{tiempo}}, <br> <br>
        Hemos detectado una conexi&oacute;n de VPN realizada fuera de M&eacute;xico del usuario bajo su cargo (<b>{{user()}}</b>) (<b>{{name()}} – {{cargo()}}</b>). <br>
        Solicitamos de su apoyo para confirmar la conexi&oacute;n, si no la reconoce es importante que nos indique para tomar medidas preventivas. <br><br>
        En caso de ser temporal, indicar el periodo que permanecer&aacute; en dicho pa&iacute;s <br><br>
        Adjuntamos detalle del evento: <br>
    </p>
    <table class="mailtable" role="region" tabindex="0">
    <caption></caption>
   <Thead>
        <th colspan="4" class="tdclass">Detalle del evento</th>
   </Thead>
    <tbody>
        <tr>
            <th colspan="1" class="tdclass">Severidad</th>
            <td colspan="3" class="tdclass"><b> ☐Critica  ☒Alta  ☐Media  ☐Baja</b></td>
        </tr>
        <tr>
            <th colspan="1" class="tdclass">Tipo de amenaza:</th>
            <td colspan="3" class="tdclass"><b>{{alertype()}}</b></td>
        </tr>
        <tr>
            <th colspan="1" class="tdclass">Normativa:</th>
            <td colspan="3" class="tdclass">{{Normativa()}}</td>
        </tr>
        <tr>
            <th colspan="1" class="tdclass">Fecha:</th>
            <td colspan="3" class="tdclass">{{fecha()}}</td>
        </tr>
        <tr>
            <th colspan="1" class="tdclass">Pa&iacute;s:</th>
            <td colspan="3" class="tdclass">{{pais()}}</td>
        </tr>
        <tr>
            <th class="tdclass">Usuario ejecutor:</th>
            <td class="tdclass">{{user()}}</td>
            <th class="tdclass">Nombre de Usuario:</th>
            <td class="tdclass">{{name()}}</td>
        </tr>
        <tr>
            <th class="tdclass">IP Origen:</th>
            <td class="tdclass">{{SrcIp()}}</td>
            <th class="tdclass">IP asignada:</th>
            <td class="tdclass">{{destIP()}}</td>
        </tr>
</table>

<p>
    <b>
        Nota: Debido a la importancia y criticidad del evento <span class="red">necesitamos que su respuesta sea máxima en una hora (01:00 hrs.),</span> ya que de lo contrario se realizará el <span class="red">bloqueo de la cuenta de VPN</span> como medida preventiva evitando con esto un mal uso de credenciales y exposición de datos confidenciales.
    </b>
</p>
<p>
    Quedamos atentos a cualquier duda o comentario.
</p>

        </div>
    </div>
</div>


<hr>
<h1>Documentaci&oacute;n</h1>
<!--<button (click)="doccopyContent(docToCopy)">
    {{ doccopiado ? 'Copiado!' : 'Copiar' }}
        </button> -->

<div #docToCopy >
    <div *ngIf=" car() == 'Interno'" >

    <p>
        
        (1) **Descripci&oacute;n del evento:**
 <br>

        Se detecta conexi&oacute;n del usuario **{{user()}}**, mediante VPN Enterprise con IP origen: **{{SrcIp()}}** correspondiente al pa&iacute;s {{pais()}} con destino **{{destIP()}}**; se inicia validaci&oacute;n del evento.
<br><br>
        (2) **Validaci&oacute;n del evento:**
<br>
        Se realiza el an&iacute;lisis de la IP de origen **{{SrcIp()}}** mediante distintas fuentes de inteligencia:
<br>
        - **VirusTotal:** Validaci&oacute;n de reputaci&oacute;n de la IP, sin detecciones maliciosas reportadas.
<br>
        - **IBM X-Force Exchange:** Consulta de reputaci&oacute;n y contexto de la IP, sin indicadores de actividad maliciosa.
<br>
        -  **Cisco Talos:** Validaci&oacute;n de reputaci&oacute;n y geolocalizaci&oacute;n, identific&aacute;ndose la IP como ubicada en {{pais()}}.
<br>
        -  **Webphone Validaci&oacute;n de los datos del usuario**
<br><br>

        **Usuario interno**
<br>
        **Nombre: {{user()}}**
<br>
        **Cargo: {{cargo()}}**
<br>
        **Jefe Directo: {{jefe()}}**
<br><br>

 (En caso de que no exista acuerdo de excepci&oacute;n) 
        (3) **Validaci&oacute;n de excepciones**
<br>
        Se consulta el registro de excepciones vigente, sin identificar alg&uacute;n acuerdo o excepci&oacute;n asociado al evento.
<br><br>
        (En caso de excepci&oacute;n) 
       (3) **Validaci&oacute;n de excepciones**
    <br>
        Se consulta el registro de excepciones vigente, identificando que existe un acuerdo operativo autorizado para excepci&oacute;n.

<br><br>

        (4) **Notificaci&oacute;n:** Se contacta al usuario **{{user()}}** para validar la conexi&oacute;n de la VPN y su ubicaci&oacute;n.
<br><br>
        (5) **Seguimiento:** Se env&iacute;a correo de seguimiento solicitando respuesta al usuario del evento notificado previamente.(en caso de aplicar)
<br><br>
        (6) **Validaci&oacute;n de la respuesta** Se recibe respuesta por parte del [Usuario/Jefe] indicando [reconoce/no reconoce] la actividad.
<br><br>

        En caso de no reconocer la actividad...
<br><br>
        a.- Derivado de la validaci&oacute;n realizada, el [usuario/jefe] indica no reconocer la conexi&oacute;n, en consecuencia el evento se considera de riesgo , por lo que se procede a la aplicaci&oacute;n de las medidas de contenci&oacute;n correspondientes.
<br><br>
        b.- Solicitar los bloqueos con las &aacute;reas correspondientes... y documentar acciones.
<br><br>


        </p>
        

    </div>
    <div *ngIf=" car() == 'Externo'" >

    <p>
        
        (1) **Descripci&oacute;n del evento:**
 <br>

        Se detecta conexi&oacute;n del usuario **{{user()}}**, mediante VPN Enterprise con IP origen: **{{SrcIp()}}** correspondiente al pa&iacute;s {{pais()}} con destino **{{destIP()}}**; se inicia validaci&oacute;n del evento.
<br><br>
        (2) **Validaci&oacute;n del evento:**
<br>
        Se realiza el an&iacute;lisis de la IP de origen **{{SrcIp()}}** mediante distintas fuentes de inteligencia:
<br>
        - **VirusTotal:** Validaci&oacute;n de reputaci&oacute;n de la IP, sin detecciones maliciosas reportadas.
<br>
        - **IBM X-Force Exchange:** Consulta de reputaci&oacute;n y contexto de la IP, sin indicadores de actividad maliciosa.
<br>
        -  **Cisco Talos:** Validaci&oacute;n de reputaci&oacute;n y geolocalizaci&oacute;n, identific&aacute;ndose la IP como ubicada en {{pais()}}.
<br>
        -  **Webphone Validaci&oacute;n de los datos del usuario**
<br><br>

        **Usuario Externo**
<br>
        **Nombre: {{user()}}**
<br>
        **Comoañia: {{cargo()}}**
<br>
        **Jefe Directo: {{jefe()}}**
<br><br>

 (En caso de que no exista acuerdo de excepci&oacute;n) 
<br><br>
        (3) **Validaci&oacute;n de excepciones**
<br>
        Se consulta el registro de excepciones vigente, sin identificar alg&uacute;n acuerdo o excepci&oacute;n asociado al evento.
<br><br>
        (En caso de excepci&oacute;n) 
<br><br>
       (3) **Validaci&oacute;n de excepciones**
    <br>
        Se consulta el registro de excepciones vigente, identificando que existe un acuerdo operativo autorizado para excepci&oacute;n.

<br><br>

        (4) **Notificaci&oacute;n:** Se contacta al usuario **{{jefe()}}** para validar la conexi&oacute;n de la VPN y su ubicaci&oacute;n.
<br><br>
        (5) **Seguimiento:** Se env&iacute;a correo de seguimiento solicitando respuesta al usuario del evento notificado previamente.(en caso de aplicar)
<br><br>
        (6) **Validaci&oacute;n de la respuesta** Se recibe respuesta por parte del [Usuario/Jefe] indicando [reconoce/no reconoce] la actividad.
<br><br>

        En caso de no reconocer la actividad...
<br><br>
        a.- Derivado de la validaci&oacute;n realizada, el [usuario/jefe] indica no reconocer la conexi&oacute;n, en consecuencia el evento se considera de riesgo , por lo que se procede a la aplicaci&oacute;n de las medidas de contenci&oacute;n correspondientes.
<br><br>
        b.- Solicitar los bloqueos con las &aacute;reas correspondientes... y documentar acciones.
<br><br>


        </p>
        

    </div>
 



<div *ngIf=" pais() == 'México'" >
    <p>Se procede al cierre debido a que se valida que la IP ORIGEN (**{{SrcIp()}}**) pertenece al país (**{{pais()}}**) </p>
</div>
<p *ngIf="atendido_Por != 'N/A'"> - Atendido por: {{atendido_Por}} </p>
</div>

<hr>

<h1>Para nombrar</h1>

<p>Cisco_Talos_{{SrcIp()}}</p>
<p>IBM_X_Force_{{SrcIp()}}</p>
<p>Virus_Total_{{SrcIp()}}</p>
<p>WEBPHONE_{{user()}}</p>

<hr>