<h1>Documentacion de alerta VPN  </h1>
<table> 
    <thead>
    <tr>
        <th>Informacion de la alerta</th>
    </tr>
    </thead>
    <tbody>
<!-- Primera liena-->
        <tr>
            <td>
                <p>Enterpise / Mobile</p>
                    <label for="EmpSelect"></label>
                        <select id="EmpSelect" (change)="negocio.set($any($event.target).value)">
                            <option *ngFor="let c of negocios" [value]="c">{{ c }}</option>
                        </select>
            </td>
            <td>
                <p>Src IP</p>
                <input type="text" [value]="SrcIp()" (input)="srcipChangeHandler($event)">
            </td>
            <td>
                <p>DestIP</p>
                <input type="text" [value]="destIP()" (input)="destipChangeHandler($event)">
            </td>
            <td> 
                <p>Pais</p>
                <input type="text" [value]="pais()" (input)="paisChangeHandler($event)">
            </td>
            
        </tr>        

    <!-- terceraa liena-->
    <tr>
       <td>
            <p>Interno / Externo</p>
            <label for="carSelect"></label>
            <select id="carSelect" (change)="car.set($any($event.target).value)">
                <option *ngFor="let c of cars" [value]="c">{{ c }}</option>
            </select>
        </td>
        <td>
            <p>User</p>
            <input type="text" [value]="user()" (input)="userChangeHandler($event)">
        </td>
        <td>
            <p>name</p>
            <input type="text" [value]="name()" (input)="nameChangeHandler($event)">
        </td>
            <td>
                <p>Caso</p>
                <input type="text" [value]="caso()" (input)="casoChangeHandler($event)">
            </td>

    </tr>
    </tbody>
</table>



    <!-- table interno-->
<div *ngIf=" car() == 'Interno'" >
    <table> 
        <tbody>
        <tr>
            <td>
                <p>Cargo</p>
                <input type="text" [value]="cargo()" (input)="cargoChangeHandler($event)">
            </td>
            <td>
                <p>Jefe</p>
                <input type="text" [value]="jefe()" (input)="jefeChangeHandler($event)">
            </td>
            <td>
                <p>Cargo Jefe</p>
                <input type="text" [value]="cargojefe()" (input)="cargojefeChangeHandler($event)">
            </td>            
        </tr>
        <!-- Cuarta liena-->
        <tr>
            <td>
                <p>Bp Jr Name</p>
                <input type="text" [value]="bpjrname()" (input)="bpnameChangeHandler($event)"> 
            </td>
            <td>
                <p>Correo Bp Jr</p>
                <input type="text" [value]="bjrcargo()" (input)="bpcargoChangeHandler($event)">
            </td>
        </tr>
        <tr>
            <td>
                <p>Archivo de vacaiones</p>
                <input type="text" [value]="VacacionesDoc()" (input)="vacaionesDocChangeHandler($event)">
            </td>
            <td>
                <p>Esta de vacaciones?</p>
                <label for="vacSelect"></label>
                    <select id="vacSelect" (change)="vac.set($any($event.target).value)">
                        <option *ngFor="let v of vacs" [value]="v">{{ v }}</option>
                    </select>
    
            </td>

        </tr>
    </tbody>
</table>
</div>
    <!-- table externo-->
<div *ngIf=" car() == 'Externo'" >
    <table> 
        <tbody>
        <tr>
            <td>
                <p>Compañia</p>
                <input type="text" [value]="cargo()" (input)="cargoChangeHandler($event)">
            </td>
        </tr>
        <tr>
            <td>
                <p>Jefe</p>
                <input type="text" [value]="jefe()" (input)="jefeChangeHandler($event)">
            </td>
            <td>
                <p>Cargo Jefe</p>
                <input type="text" [value]="cargojefe()" (input)="cargojefeChangeHandler($event)">
            </td>            
        </tr>
        <!-- Cuarta liena-->
    </tbody>
</table>

</div>

<!-- Quinta liena
         <tr>
            
            <td> 
                <p>Pais</p>
                <input type="text" [value]="pais()" (input)="paisChangeHandler($event)">
            </td>
            <td>
                <p>Bp Jr Name</p>
                <input type="text" [value]="bpjrname()" (input)="bpnameChangeHandler($event)"> 
            </td>
            <td>
                <p>Bp Jr Cargo</p>
                <input type="text" [value]="bjrcargo()" (input)="bpcargoChangeHandler($event)">
            </td>
            <td>
                <p>Clasifiacion</p>
                <input type="text" [value]="Clasifiacion()" (input)="clasifiChangeHandler($event)">
            </td>
            <td>
                <p>Linea de Negocio 
                    <br> ENTERPRISE / MOBILE</p>
                <input type="text" [value]="lineaNegocio()" (input)="linnegChangeHandler($event)">
            </td>
        </tr>
 Sextaa liena
 <tr>
    <td>
                <p>alertype</p>
                <input type="text" [value]="alertype()" (input)="alertypeChangeHandler($event)">
            </td>
            <td>
                <p>Categoria</p>
                <input type="text" [value]="categoria()" (input)="categoriaChangeHandler($event)">
            </td>
            
 </tr>
    </tbody>
</table>
-->


<hr>
<h1>Plantilla</h1>
<p>Se realiza el análisis de los campos involucrados en esta alerta.</p>
<p>- Usuario involucrado: (**{{user()}}**)</p>
<p>- IP origen/IP destino: (**{{SrcIp()}} / {{destIP()}}**)</p>
<p>- Número de eventos detonados:(**1**)</p>
<p>- Acción realizada: (**Conexión VPN {{negocio()}}**)</p>
<p>Se valida en la app Webphone que el user es: (**{{car()}}**)</p>

<div *ngIf=" car() == 'Interno'" >
    <p> **Usuario Interno:**</p>
           
    <p> Se realiza el análisis de la IP Origen (**{{SrcIp()}}**), en las herramientas Cisco Talos, Virus Total, IBM XFORCE, donde se determina que la IP pertenece a (**{{pais()}}**).</p>
     
    <p>Se valida la cuenta (**{{user()}}**) en la herramienta WebPhone y le pertenece al user (**{{name()}}  - {{cargo()}}**) donde su Jefe Directo es el user (**{{jefe()}} - {{cargojefe()}}**)</p>
          
    <p>Se valida en el documento de vacaciones de la semana del (**{{VacacionesDoc()}}**), donde el user (**{{vac()}}**) se encuentra de vacaciones.</p>
     
    <p>- Se identifica el BP Jr. (**{{bpjrname()}} - {{bjrcargo()}}**)</p>
</div>
<div *ngIf=" car() == 'Externo'" >
    <p> **Usuario Externo**</p>
        
    <p> Se realiza el análisis de la IP Origen (**{{SrcIp()}}**), en las herramientas Cisco Talos, Virus Total, IBM XFORCE, donde se determina que la IP pertenece a (**{{pais()}}**).</p>
     
    <p>Se valida la cuenta (**{{user()}}**) en la herramienta WebPhone y le pertenece al user (**{{name()}}  - {{cargo()}}**) donde su Jefe Directo es el user (**{{jefe()}} - {{cargojefe()}}**)</p>
     
</div>
<div *ngIf=" pais() == 'México'" >
    <p>Se procede al cierre debido a que se valida que la IP ORIGEN (**{{SrcIp()}}**) pertenece al país (**{{pais()}}**) </p>
</div>

<hr>
<h1>Docuementacion</h1>

<p> Se realiza el análisis de la IP Origen (**{{SrcIp()}}**), en la herramienta Cisco Talos, donde se determina que la IP pertenece a (**{{pais()}}**).</p>
<p> Se realiza el análisis de la IP Origen (**{{SrcIp()}}**), en la herramienta Virus Total, donde se determina que la IP pertenece a (**{{pais()}}**).</p>
<p> Se realiza el análisis de la IP Origen (**{{SrcIp()}}**), en la herramienta IBM X-Force, donde se determina que la IP pertenece a (**{{pais()}}**).</p>    

<p>Cisco_Talos_{{SrcIp()}}</p>
<p>IBM_X_Force_{{SrcIp()}}</p>
<p>Virus_Total_{{SrcIp()}}</p>
<p>WEBPHONE_{{user()}}</p>

<hr>

    

    