table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    text-align: center;
    height: 100px;
}
th{
    background-color: rgb(0, 168, 224);
    color: white;


}
.tdclass {
    border: 2px solid rgb(0, 0, 0);
}
p{
font-family: Arial, Helvetica, sans-serif;
}
.mailtable {
    height: 350px;
}

.datos{
    padding: 3px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.datosTable{
    padding: 3px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.red{
    color: red;
}