
<div class="datos">
<table class="datosTable">
    <tr>
        <td>Fecha <br>
        <input type="text" [value]="fecha()" (input)="fechaChangeHandler($event)"></td>
        <td>Alerta <br>
        <input type="text" [value]="alerta()" (input)="alertaChangeHandler($event)"></td>
        <td>Normativa <br>
        <input type="text" [value]="normativa()" (input)="normativaChangeHandler($event)"></td>

    </tr>
    <tr>

        <td>Usuario ejecutor <br>
        <input type="text" [value]="userEje()" (input)="userEjeChangeHandler($event)"></td>        

        <td>Nombre de Usuario  <br>
        <input type="text" [value]="nombreUser()" (input)="nombreUserChangeHandler($event)"></td>

    </tr>
    <tr>
        <td><p>Cargo</p>
        <input type="text" [value]="cargo()" (input)="cargoChangeHandler($event)">
        </td>
        
        <td><p>Jefe</p>
        <input type="text" [value]="jefe()" (input)="jefeChangeHandler($event)">
        </td>

               <td>
            <p>Interno / Externo</p>
            <label for="carSelect"></label>
            <select id="carSelect" (change)="car.set($any($event.target).value)">
                <option *ngFor="let c of cars" [value]="c">{{ c }}</option>
            </select>
        </td>
		<td><p>Empresa</p>
        <input type="text" [value]="empresa()" (input)="empresaChangeHandler($event)"></td>

    </tr>    
    <tr>
        <td>Tipo de movimineto   <br>
        <input type="text" [value]="tipodeMov()" (input)="tipodeMovChangeHandler($event)"></td>

        <td>Usuario afectado  <br>
        <input type="text" [value]="userAfec()" (input)="userAfecChangeHandler($event)"></td>    
        

    <tr>   
        <td>Hostname/IP destino  <br>
        <input type="text" [value]="hostnameDest()" (input)="hostnameDestChangeHandler($event)"></td>
        
        <td>Hostanme/IP origen  <br>
        <input type="text" [value]="hostnameOrg()" (input)="hostnameOrgChangeHandler($event)"></td>
        
    </tr>
</table>
</div>
<div>
<button (click)="deleteData()">
    {{ borrado ? 'Borrados!' : 'Borrar Datos' }}
</button>
</div>

<hr>
    <h1>Sugerencia de Titulo?</h1>
    <p>Case ####_[NE]: ABC Usuarios_Usuario_Host</p>    
        <p>
            {{alerta()}}_{{userEje()}}_{{hostnameOrg()}} <br><br>               
        </p>
<hr>

<h1>Correo</h1>
<button (click)="copyContent(textToCopy)">
    {{ copiado ? 'Copiado!' : 'Copiar' }}
</button>



<!--Correo -->
<div #textToCopy>
<p>{{tiempo}},
 <br><br>
    Les notificamos que se ha realizado un cambio en el elemento de red <b>{{aplicacion()}}</b>, este movimiento fue realizado por el usuario <b>{{userEje()}}</b> afectando la cuenta <b>{{userAfec()}}</b> realizando un <b>{{tipodeMov()}}</b>.
     Para fines de validaci&oacute;n, <b>solicitamos</b> su apoyo compartiendo la justificación de la actividad mediante el folio de <b>REQ/CHG/INC</b> que respalde su ejecución
    <br><br>
    Adjuntamos detalle del evento:
</p>
<table class="mailtable" role="region" tabindex="0">
    <caption></caption>
   <THead>
        <th colspan="4">Detalle del evento</th>
   </THead>
    <tbody>
        <tr>
            <th colspan="1">Severidad</th>
            <td colspan="3"><b> ☐Critica  ☒Alta  ☐Media  ☐Baja</b></td>
        </tr>
        <tr>
            <th colspan="1">Tipo de amenaza:</th>
            <td colspan="3"><b>{{alerta()}}</b></td>
        </tr>
        <tr>
            <th colspan="1">Normativa:</th>
            <td colspan="3">{{normativa()}}</td>
        </tr>
        <tr>
            <th colspan="1">Fecha:</th>
            <td colspan="3">{{fecha()}}</td>
        </tr>
        <tr>
            <th>Usuario ejecutor:</th>
            <td>{{userEje()}}</td>
            <th>Nombre de Usuario:</th>
            <td>{{nombreUser()}}</td>
        </tr>
        <tr>  
            <th>Usuario afectado:</th>
            <td>{{userAfec()}}</td>
            <th>Tipo de movimiento</th>
            <td>{{tipodeMov()}}</td>
    
        </tr>
        <tr>
            <th>Hostname/IP origen:</th>
            <td>{{hostnameOrg()}}</td>
            <th>Hostname/IP destino:</th>
            <td>{{hostnameDest()}}</td>
        </tr>

   </tbody>
</table>
Se anexa el detalle a continuación:
<br><br>
<p>Quedo pendiente a sus comentarios</p>
<p>Saludos</p>
</div>
<hr>

<div>
        <h1>
            DOCUMENTACI&oacute;N
        </h1>
<div *ngIf=" car() == 'Interno'" >
        <h3>(1) </h3>
        <br>
        **Descripci&oacute;n del evento:**
    <br>
        Se detecta actividad de ABC de usuarios (Creaci&oacute;n/Baja/Actualizaci&oacute;n) generada por el usuario: **{{userEje()}}** ({{nombreUser()}} - {{cargo()}}) en la aplicaci&oacute;n: **{{aplicacion()}}**, con afectaci&oacute;n al usuario: **{{userAfec()}}**; se inicia validaci&oacute;n del evento.
    <br>
        <h3>(2) </h3>
    <br>
        **Validaci&oacute;n del evento:**
    <br>
        Se realiza la validaci&oacute;n del usuario <br>
        • **Webphone** Validaci&oacute;n de los datos del usuario <br>

        **Usuario interno** <br>

        **Nombre: {{nombreUser()}}** <br>
        **Cargo: {{cargo()}}**<br>
        **Empresa: {{empresa()}}**<br>

        **Jefe Directo: {{jefe()}}** <br>
    <br>
       <h3> (3) </h3>
    <br>
        **Notificaci&oacute;n:** Se contacta al usuario **{{nombreUser()}}** para validar el cambio del alertamiento
    <br>
        <h3>(4) </h3>
    <br>
        (en caso de aplicar)
    <br>
        **Seguimiento:** Se env&iacute;a correo de seguimiento solicitando respuesta al usuario del evento notificado previamente.
    <br>    
       <h3> (5)</h3>
    <br> 
        **Validaci&oacute;n de la respuesta** Se recibe respuesta por parte del {{nombreUser()}} indicando [detalle de la respuesta]
    <br>
        En caso de ser justificada la actividad... <br>
        Si hay folio Validar con TII <br>
        Si no hay folio, validar con AU <br>
    <br>
        Teniendo las validaciones pasar a tarea de cierre...
    <br>    
        No validado, escalar TII

    <br><br>
</div>

<div *ngIf=" car() == 'Externo'" >
        <h3>(1) </h3>
        <br>
        **Descripci&oacute;n del evento:**
    <br>
        Se detecta actividad de ABC de usuarios (Creaci&oacute;n/Baja/Actualizaci&oacute;n) generada por el usuario: **{{userEje()}}** ({{nombreUser()}} - {{cargo()}}) en la aplicaci&oacute;n: **{{aplicacion()}}**, con afectaci&oacute;n al usuario: **{{userAfec()}}**; se inicia validaci&oacute;n del evento.
    <br>
        <h3>(2) </h3>
    <br>
        **Validaci&oacute;n del evento:**
    <br>
        Se realiza la validaci&oacute;n del usuario
        <br>
        • **Webphone** Validaci&oacute;n de los datos del usuario
<br>
        **Usuario Externo**
<br>
        **Nombre: {{nombreUser()}}**<br>
        **Cargo: {{cargo()}}**<br>
        **Empresa: {{empresa()}}**<br>
        **Jefe Directo: {{jefe()}}**<br>
        <h3>(3) </h3>

    <br>
        **Notificaci&oacute;n:** Se contacta al usuario **{{nombreUser()}}** para validar el cambio del alertamiento
    <br>
        <h3>(4) </h3>
    <br>
        (en caso de aplicar)
    <br>
        **Seguimiento:** Se env&iacute;a correo de seguimiento solicitando respuesta al usuario del evento notificado previamente.
    <br>    
        <h3>(5)</h3>
    <br> 
        **Validaci&oacute;n de la respuesta** Se recibe respuesta por parte del {{nombreUser()}} indicando [detalle de la respuesta]
    <br>
        En caso de ser justificada la actividad... <br>
        Si hay folio Validar con TII <br>
        Si no hay folio, validar con AU <br>
    <br>
        Teniendo las validaciones pasar a tarea de cierre...
    <br>    
        No validado, escalar TII

    <br><br>
</div>


<div>
    <h1>CIERRE</h1>
    <br>
        <h3>(1) </h3>
        <br>
        Conclusi&oacute;n:
    <br>
        El {{nombreUser()}}, confirma que el movimiento **(Alta/baja/cambio)** corresponde a una actividad valida debido a **[detalle de la actividad]**. Por lo anterior se procede al cierre del caso.
    <br>
        <h3>(2) </h3>
    <br>    
        **Autorizaci&oacute;n para cierre:** Se da Vo.Bo para el cierre del caso por parte de Supervisi&oacute;n (NOMBRE)
</div>

</div>


