
<div class="datos">
<table class="datosTable">
    <tr>
        <td>Fecha <br>
        <input type="text" [value]="fecha()" (input)="fechaChangeHandler($event)"></td>
        <td>Alerta <br>
        <input type="text" [value]="alerta()" (input)="alertaChangeHandler($event)"></td>
        <td>Normativa <br>
        <input type="text" [value]="normativa()" (input)="normativaChangeHandler($event)"></td>

    </tr>
    <tr>

        <td>Usuario ejecutor <br>
        <input type="text" [value]="userEje()" (input)="userEjeChangeHandler($event)"></td>        

        <td>Nombre de Usuario  <br>
        <input type="text" [value]="nombreUser()" (input)="nombreUserChangeHandler($event)"></td>
        
    </tr>    
    
        <td>Tipo de movimineto   <br>
        <input type="text" [value]="tipodeMov()" (input)="tipodeMovChangeHandler($event)"></td>

        <td>Usuario afectado  <br>
        <input type="text" [value]="userAfec()" (input)="userAfecChangeHandler($event)"></td>        

    <tr>   
      
        <td>Hostname/IP destino  <br>
        <input type="text" [value]="hostnameDest()" (input)="hostnameDestChangeHandler($event)"></td>
        
        <td>Hostanme/IP origen  <br>
        <input type="text" [value]="hostnameOrg()" (input)="hostnameOrgChangeHandler($event)"></td>
        
    </tr>
</table>
</div>
<div>
<button (click)="deleteData()">
    {{ borrado ? 'Borrados!' : 'Borrar Datos' }}
</button>
</div>

<hr>
    <h1>Sugerencia de Titulo?</h1>
    <p>Case ####_[NE]: ABC Usuarios_Usuario_Host</p>    
        <p>
            {{alerta()}}_{{userEje()}}_{{hostnameOrg()}} <br><br>               
        </p>
<hr>

<h1>Correo</h1>
<button (click)="copyContent(textToCopy)">
    {{ copiado ? 'Copiado!' : 'Copiar' }}
</button>



<!--Correo -->
<div #textToCopy>
<p>{{tiempo}},
 <br><br>
    Les notificamos que se ha realizado un cambio en el elemento de red <b>{{aplicacion()}}</b>, este movimiento fue realizado por el usuario <b>{{userEje()}}</b> afectando la cuenta <b>{{userAfec()}}</b> realizando un <b>{{tipodeMov()}}</b>.
     Para fines de validaci&oacute;n, <b>solicitamos</b> su apoyo compartiendo la justificación de la actividad mediante el folio de <b>REQ/CHG/INC</b> que respalde su ejecución
    <br><br>
    Adjuntamos detalle del evento:
</p>
<table class="mailtable" role="region" tabindex="0">
    <caption></caption>
   <THead>
        <th colspan="4">Detalle del evento</th>
   </THead>
    <tbody>
        <tr>
            <th colspan="1">Severidad</th>
            <td colspan="3"><b> ☐Critica  ☒Alta  ☐Media  ☐Baja</b></td>
        </tr>
        <tr>
            <th colspan="1">Tipo de amenaza:</th>
            <td colspan="3"><b>{{alerta()}}</b></td>
        </tr>
        <tr>
            <th colspan="1">Normativa:</th>
            <td colspan="3">{{normativa()}}</td>
        </tr>
        <tr>
            <th colspan="1">Fecha:</th>
            <td colspan="3">{{fecha()}}</td>
        </tr>
        <tr>
            <th>Usuario ejecutor:</th>
            <td>{{userEje()}}</td>
            <th>Nombre de Usuario:</th>
            <td>{{nombreUser()}}</td>
        </tr>
        <tr>  
            <th>Usuario afectado:</th>
            <td>{{userAfec()}}</td>
            <th>Tipo de movimiento</th>
            <td>{{tipodeMov()}}</td>
    
        </tr>
        <tr>
            <th>Hostname/IP origen:</th>
            <td>{{hostnameOrg()}}</td>
            <th>Hostname/IP destino:</th>
            <td>{{hostnameDest()}}</td>
        </tr>

   </tbody>
</table>
Se anexa el detalle a continuación:
<br><br>
<p>Quedo pendiente a sus comentarios</p>
<p>Saludos</p>
</div>
<hr>

<app-puntos [alerta]="alerta()" [atendido_Por]="atendido_Por" [nombreusr]="nombreUser()" [accion]="tipodeMov()"></app-puntos>



