<!--form-->
<div class="datos">
<table class="datosTable">
    <tr>
        <td>Alerta <br>
        <input type="text" [value]="alerta()" (input)="alertaChangeHandler($event)"></td>
        <td>Normativa <br>
        <input type="text" [value]="normativa()" (input)="normativaChangeHandler($event)"></td>
        <td>Fecha <br>
        <input type="text" [value]="fecha()" (input)="fechaChangeHandler($event)"></td>
        
    </tr>
    <tr>
        <td>Usuario ejecutor <br>
        <input type="text" [value]="userEje()" (input)="userEjeChangeHandler($event)"></td>

        <td>Nombre de Usuario <br>
        <input type="text" [value]="nombreUser()" (input)="nombreUserChangeHandler($event)"></td>        

    </tr>
    <tr>   
        <td>Tipo de Movimiento <br>
        <input type="text" [value]="tipodemov()" (input)="tipodemovChangeHandler($event)"></td>        

        <td>Usuarios Afectados <br>
        <input type="text" [value]="userAfectados()" (input)="userAfectadosChangeHandler($event)"></td>        

    </tr>
    <tr>
        <td>Host Origen <br>
        <input type="text" [value]="hostorg()" (input)="hostorgChangeHandler($event)"></td>
        
        <td>:p <br> 
        vacio</td>
        
    </tr>
</table>
</div>
<div>
<button (click)="deleteData()">
    {{ borrado ? 'Borrados!' : 'Borrar Datos' }}
</button>
</div>

<hr>
    <h1>Sugerencia de Titulo?</h1>
        <p>
            Case ####_[Aplicación]: ABC_Usuarios_Host
            <br>
            {{alerta()}}_{{userEje()}}_{{hostorg()}} <br><br>               
        </p>
<hr>

<h1>Correo</h1>
<button (click)="copyContent(textToCopy)">
    {{ copiado ? 'Copiado!' : 'Copiar' }}
</button>



<!--Correo -->
<div #textToCopy>
<p>{{tiempo}},
 <br><br>
    Les notificamos que se ha realizado un cambio en la aplicación <b>{{aplicacion()}}</b>, este movimiento fue realizado por el usuario <b>{{userEje()}}</b> afectando la cuenta <b>{{userAfectados()}}</b> realizando un <b>{{tipodemov()}}</b>.
     Para fines de validaci&oacute;n, <b>solicitamos</b> su apoyo compartiendo la justificación de la actividad mediante el folio de <b>REQ/CHG/INC</b> que respalde su ejecuci&oacute;n.
 <br><br>
    Adjuntamos detalle del evento:
</p>
<table class="mailtable" role="region" tabindex="0">
    <caption></caption>
   <THead>
        <th colspan="4">Detalle del evento</th>
   </THead>
    <tbody>
        <tr>
            <th colspan="1">Severidad</th>
            <td colspan="3"><b> ☐Critica  ☒Alta  ☐Media  ☐Baja</b></td>
        </tr>
        <tr>
            <th colspan="1">Tipo de amenaza:</th>
            <td colspan="3"><b>{{alerta()}}</b></td>
        </tr>
        <tr>
            <th colspan="1">Normativa:</th>
            <td colspan="3">{{normativa()}}</td>
        </tr>
        <tr>
            <th colspan="1">Fecha:</th>
            <td colspan="3">{{fecha()}}</td>
        </tr>
        <tr>
            <th>Usuario ejecutor:</th>
            <td>{{userEje()}}</td>
            <th>Nombre de Usuario:</th>
            <td>{{nombreUser()}}</td>
        </tr>
        <tr>
            <th>Usuario afectado:</th>
            <td>{{userAfectados()}}</td>
            <th>Tipo de movimiento:</th>
            <td>{{tipodemov()}}</td>
        </tr>
        <tr>
            <th colspan="1">Hostname origen:</th>
            <td colspan="3">{{hostorg()}}</td>
        </tr>

   </tbody>
</table>
<br><br>
<p>Se anexa mayor detalle a continuación:</p>
<p>Quedo pendiente a sus comentarios</p>
<p>Saludos</p>
</div>
<hr>

<app-puntos [alerta]="alerta()" [atendido_Por]="atendido_Por" [nombreusr]="nombreUser()" [accion]="tipodemov()"></app-puntos>
