.encabezado{
    display: flex;
    color: aliceblue;
    justify-content: space-around;
    align-items: center;
    /*background-image: url("../land.jpg");*/
    background-color: #C2EABD;
    /*border: 2px solid rgb(181, 0, 0);*/
    background-size: contain; 
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.panel{
    background-color: rgb(255, 255, 255);
    /*border: 2px solid rgb(255, 175, 56); */
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.footer{
    background-color: gray; 
    padding: 3px;
    display: flex;
    flex-direction: column;
    /*background-image: url("../cuadros.jpg");*/
    background-size: auto;
    color: rgb(255, 254, 254);
    justify-content: space-around;
    align-items: center;
        
}
