.encabezado{
    display: flex;
    color: aliceblue;
    justify-content: space-around;
    align-items: center;
    background-color: cornflowerblue;
    border: 1px solid rgb(0, 96, 221);
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
}

.panel{
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(98, 195, 255);
    padding: 3px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

.footer{
    background-color: gray;
    padding: 3px;
    display: flex;
    flex-direction: column;
    color: aliceblue;
    justify-content: space-around;
    align-items: center;
        
}
body{
    background-color: aquamarine;
}