<div class="datos">
<table class="datosTable">
    <tr>
        <td> Alerta <br>
        <input type="text" [value]="alerta()" (input)="alertaChangeHandler($event)"></td>
        
        <td>Normativa<br>
        <input type="text" [value]="normativa()" (input)="normativaChangeHandler($event)"></td>
        
        <td> Fecha <br>
        <input type="text" [value]="fecha()" (input)="fechaChangeHandler($event)"></td>
    </tr>
    <tr>
        <td> Fecha Baja <br>
        <input type="text" [value]="fechaBaja()" (input)="fechaBajaChangeHandler($event)"></td>
        
        <td> ATTUID <br>  
        <input type="text" [value]="attuid()" (input)="attuidChangeHandler($event)"></td>
        <td> Nombre de usuario <br>
        <input type="text" [value]="nombre()" (input)="nombreChangeHandler($event)"></td>
    </tr>
    <tr>
        <td> Origen/host <br>
        <input type="text" [value]="iporg()" (input)="iporgChangeHandler($event)"></td>
        
        <td> Accion <br>
        <input type="text" [value]="accion()" (input)="accionChangeHandler($event)"></td>
        
    
    </tr>
</table>
</div>
<div>
<button (click)="deleteData()">
    {{ borrado ? 'Borrados!' : 'Borrar Datos' }}
</button>
</div>

<hr>
    <h1>Sugerencia de Titulo?</h1>
        <p>
            {{alerta()}}_{{attuid()}} <br><br>               
        </p>
<hr>

<h1>Correo</h1>
<button (click)="copyContent(textToCopy)">
    {{ copiado ? 'Copiado!' : 'Copiar' }}
</button>



<!--Correo -->
<div #textToCopy>
<p>{{tiempo}}, &#64;MX CERT Monitoreo Seguridad
 <br><br>
    Hemos detectado una <b>{{alerta()}}</b> con el usuario <b>{{attuid()}} : {{nombre()}}</b>
    <br><br>
    Adjuntamos detalle del evento:
</p>
<table class="mailtable" role="region" tabindex="0">
    <caption></caption>
   <THead>
        <th colspan="4">Detalle del evento</th>
   </THead>
    <tbody>
        <tr>
            <th colspan="1">Severidad</th>
            <td colspan="3"><b> ☒Critica  ☐Alta  ☐Media  ☐Baja</b></td>
        </tr>
        <tr>
            <th colspan="1">Tipo de amenaza:</th>
            <td colspan="3"><b>{{alerta()}}</b></td>
        </tr>
        <tr>
            <th colspan="1">Normativa:</th>
            <td colspan="3">{{normativa()}}</td>
        </tr>
        <tr>
            <th colspan="1">Fecha:</th>
            <td colspan="3">{{fecha()}}</td>
        </tr>
        <tr>
            <th colspan="1">Fecha de baja:</th>
            <td colspan="3">{{fechaBaja()}}</td>
        </tr>
        <tr>
            <th colspan="1">Usuario:</th>
            <td colspan="3">{{nombre()}}</td>
        </tr>
        <tr>
            <th>Usuario ejecutor:</th>
            <td>{{attuid()}}</td>
            <th>Nombre de Usuario:</th>
            <td>{{nombre()}}</td>
        </tr>
        <tr>
            <th>Origen / host:</th>
            <td>{{iporg()}}</td>
            <th>Acci&oacute;n:</th>
            <td>{{accion()}}</td>
        </tr>

   </tbody>
</table>
<p>Se anexa evidencia de VerifyID:</p>
<br><br>
<p>Se anexa evidencia de WEBPHONE:</p>
<br><br>
<p>Quedo pendiente a sus comentarios</p>
<p>Saludos</p>
</div>
<hr>

<h1>Documentaci&oacute;n </h1>
        <button (click)="copydotsContent(puntosToCopy)">  
    {{ copiadodots ? 'Copiado!' : 'Copiar' }}
        </button>
    <div #puntosToCopy></div>
<hr>
<div>

    <h1>DOCUMENTACI&oacute;N</h1>
<br>
    <h3>(1) </h3>
    <br>
    **Descripci&oacute;n del evento:**
<br>
    **Descripci&oacute;n del evento:** Se identifica alertamiento de conexi&oacute;n vinculada a un usuario dado de baja de la instituci&oacute;n hacia la aplicaci&oacute;n {{aplicacion()}}.
    Se inicia la validaci&oacute;n del evento.
<br>
    **Usuario:** {{attuid()}}<br>
    **Nombre:** {{nombre()}} <br>
    <h3>(2) </h3>
    <br>
    **Notificaci&oacute;n:** Se notifica y escala al equipo de TIER II para validaci&oacute;n y atenci&oacute;n del evento.
<br>
    TIER II
    <br>
    op 1. (Verdadero) 
    <br>
    (4) **Investigaci&oacute;n:** Se identifica una conexi&oacute;n [**exitosa**] por lo que se valida el estatus del usuario, actividad y movimientos durante la sesi&oacute;n, detectando [Detalle de movimientos e informaci&oacute;n de la sesi&oacute;n]
    <br>
    (5) **Solicitud de acciones de contenci&oacute;n:** Se solicita ejecutar contenci&oacute;n inmediata mediante bloqueo o deshabilitaci&oacute;n del acceso y confirmar las acciones realizadas.
    <br>
    (6) **Validaci&oacute;n de estatus de usuario:** Se contacta al jefe responsable del usuario que realiza la conexi&oacute;n.
    <br>
    (Respuesta no mas de 12 horas)
    <br>
    (7) **Validaci&oacute;n de respuesta** [Detalle de respuesta]
    <br>
    En caso de reingreso cerrar caso, en caso contrario escalar a TIER III
    <br>
    Op 2. (Falso) 
    <br>**Investigaci&oacute;n:** Se identifica una conexi&oacute;n [** no exitosa**]. Al no existir conexi&oacute;n exitosa ni interacci&oacute;n con los sistemas, el evento se clasifica sin impacto de seguridad y se procede al cierre del caso
    <br>

    CIERRE
<br>
    (5) **Conclusi&oacute;n** [Detalle de la conclusi&oacute;n]
    <br>
    Reingreso: Se valida que el usuario cuenta con reingreso formal a la instituci&oacute;n, por lo que la actividad detectada corresponde a operaci&oacute;n leg&iacute;tima. No se identifican indicios de uso indebido de credenciales ni afectaci&oacute;n a los sistemas. Se procede al cierre del caso.
</div>
